<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tutorialsninja.qa.testcases.Search"/>
      <class name="com.tutorialsninja.qa.testcases.Register"/>
      <class name="com.tutorialsninja.qa.testcases.Login"/>
      <class name="com.tutorialsninja.qa.testcases.TestCaseWithoutFrame"/>
      <class name ="com.jarvis.pages.HomePage.java"/>
      <class name ="com.jarvis.pages.LoinPage.java"/>
      <class name ="com.jarvis.pages.SearchResultPage.java"/>
      <class name ="com.jarvis.pages.WishListPage.java"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
